/* add CSS class and element and selectors here */

body {
      background-color: #51E1E8;
      font-size: 100%;
}

.jonSampleClass {
  
  font-family: Courier;
  font-size:250%;
  border:10px dotted red;
}
